.global-header {
  padding-left: 100px;
  height: 68px;
  display: flex;
  align-items: center;
  gap: 74px;

  background-size: 1440px 68px;

  .tabs {
    display: flex;
    gap: 34px;
    .tab {
      cursor: pointer;
      height: 15px;
    }
    .home {
      width: 57px;
    }
    .cars {
      width: 68px;
    }
    .about {
      width: 45px;
    }
    .comments {
      width: 120px;
    }
  }
}
